<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulação Caixa Verso - Lucas Resende - Backend Java</title>
    <script src="/tailwind.js"></script>
    <script src="/axios.js"></script>
    <script src="/chart.js"></script>
</head>
<body>
    <div class="flex flex-col h-screen">
        <!-- Menu -->
        <div class="bg-blue-600 text-white p-4">
            <p class="text-xl font-bold">Caixa Verso - Lucas Resende - Backend Java</p>
        </div>
        <!-- Login and Signup -->
        <div class="flex-1 bg-gray-100 p-6" id="formLogin">
            <h2 class="font-gray-800 text-2xl mb-16">Cadastro</h2>
            <div class="lg:px-64 md:px-4">
                <div class="mb-4">
                        <div class="mx-auto w-xl">
                        <label for="signupName" class="block text-sm font-medium text-gray-700">Nome</label>
                        <input type="text" id="signupName" class="mt-1 block w-full p-2 border border-gray-300 rounded" placeholder="Informe o seu nome">
                    </div>
                    <div class="mb-4">
                        <label for="signupCpf" class="block text-sm font-medium text-gray-700">CPF</label>
                        <input type="text" id="signupCpf" class="mt-1 block w-full p-2 border border-gray-300 rounded" placeholder="Informe o seu email">
                    </div>
                    <div class="mb-4">
                        <label for="signupPassword" class="block text-sm font-medium text-gray-700">Senha</label>
                        <input type="password" id="signupPassword" class="mt-1 block w-full p-2 border border-gray-300 rounded" placeholder="Entre com sua senha">
                    </div>
                    <button id="criarContaForm" type="submit" class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700">Criar conta</button>
                </div>
            </div>
        </div>
        <!-- Content -->
        <div class="flex flex-1 gap-4 p-4 hidden" id="formSistema">
            <!-- Add your content here -->
            <div class="w-64 bg-gray-100 p-4 rounded shadow">
                <div class="mb-8">
                    <p class="font-bold text-gray-700">Olá, Fulano</p>
                </div>
                <div class="flex mb-4 flex-col border-b-2 pb-4">
                    <p class="font-bold text-gray-700">Seu Perfil é:</p>
                    <p class="font-bold text-gray-400" id="idPerfil">Não calculado, realize uma simulação</p>
                </div>
                <div class="mb-4">
                    <p class="font-bold text-gray-700">Histórico de simulações</p>
                </div>
                <div class="mb-4" id="listaHistorico">
                    <p class="font-bold text-gray-400">Sem dados disponível</p>
                </div>
            </div>
            <div class="w-96 bg-gray-100 p-4 rounded shadow">
                <p class="font-bold text-gray-700">Crie uma simulação</p>
                <div>
                    <div>
                        <label for="idValorInv" class="block text-sm font-medium text-gray-700">Valor</label>
                        <input type="text" id="idValorInv" class="mt-1 block w-full p-2 border border-gray-300 rounded" placeholder="Informe o valor, somente números">
                    </div>
                    <div>
                        <label for="idTipo" class="block text-sm font-medium text-gray-700">Tipo</label>
                        <select id="idTipo" class="mt-1 block w-full p-2 border border-gray-300 rounded">
                            <option value="CDB">
                                CDB
                            </option>
                            <option value="Debenture">
                                Debenture
                            </option>
                            <option value="Ações"> 
                                Ações
                            </option>
                        </select>
                    </div>
                    <div>
                        <label for="idPrazoMeses" class="block text-sm font-medium text-gray-700">Prazo</label>
                        <input type="text" id="idPrazoMeses" class="mt-1 block w-full p-2 border border-gray-300 rounded" placeholder="Informe o prazo, somente números">
                    </div>
                    <div>
                        <label for="idClienteId" class="block text-sm font-medium text-gray-700">Cliente Id</label>
                        <input type="text" id="idClienteId" class="mt-1 block w-full p-2 border border-gray-300 rounded" placeholder="Informe o valor, somente números">
                    </div>
                    <div class="mt-4">
                        <button id="criarSimulacao" type="submit" class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700">Simular</button>
                    </div>
                </div>
                <div class="mb-4"></div>
                <div class="border-b-2"></div>
                <div class="mt-4">
                    <p class="font-bold text-gray-700 mb-4">Produtos Recomendados</p>
                    <div class="flex flex-col" id="prodRecomendacao">
                        <div class="flex flex-col">
                            <div>
                                <label for="idRisco" class="block text-sm font-medium text-gray-700">Selecione um tipo para ver as recomendações</label>
                                <select id="idRecomendacaoProduto" class="mt-1 block w-full p-2 border border-gray-300 rounded">
                                    <option>
                                        Selecione um tipo para ver recomendações
                                    </option>
                                    <option value="Conservador">
                                        Conservador
                                    </option>
                                    <option value="Moderado">
                                        Moderado
                                    </option>
                                    <option value="Agressivo"> 
                                        Agressivo
                                    </option>
                                </select>
                            </div>
                            <div id="listaRecomendacoes">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-1 bg-gray-100 p-4 rounded shadow">
                <p class="font-bold text-gray-700">Resultado da simulação</p>
                <div class="hidden" id="retornoSim">
                    <div class="flex flex-col my-4">
                        <p class="text-2xl font-bold" id="retornoSimNome">Nome Produto</p>
                        <p class="" id="retornoSimRisco">Risco Baixo</p>
                    </div>
                    <div class="flex w-full">
                        <p class="flex-1 font-2xl font-bold" id="retornoSimValorInv">Valor investido: </p>
                        <p class="flex-1 font-2xl font-bold" id="retornoSimValorRet">Valor retornado: </p>
                    </div>
                    <canvas id="ctxSimulacao"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div id="errorAlert" class="fixed top-4 right-4 bg-red-500 text-white px-4 py-2 rounded shadow-lg hidden">
        <p class="font-bold mb-4">Retorno da API</p>
        <p id="errorMessage">Error!</p>
    </div>
    <div id="successAlert" class="fixed top-4 right-4 bg-green-500 text-white px-4 py-2 rounded shadow-lg hidden">
        <p class="font-bold mb-4">Retorno da API</p>
        <p id="successMensagem">Error!</p>
    </div>
</body>
<script src="/simulacao.js"></script>
</html>