<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="bg-gray-900 text-white">
    <div class="flex justify-center mt-8 mb-16">
        <p class="text-2xl font-bold">📄 Documentação API - Caixaverso - Lucas Resende</p>
    </div>
    <div class="mx-16">
        <div class="border-l-4 border-red-600 mb-8">
            <p class="ml-4 text-1xl font-bold">📝 Descrição</p>
        </div>
        <div>
            <p>
                Olá, essa API foi construída usando <span class="font-bold">Java 21 + Quarkus</span>. Essa é uma documentação interativa feita com tailwind, adicionei ao projeto um template engine para ajudar a criação da documentação, o seu objetivo é melhor demostrar o comportamento da API desenvolvida para o desafio. 
            </p>
            <br/>
            <p>
                Entretanto, se preferir pode olhar o swagger da API apenas <a href="#" class="text-blue-300 font-bold" target="_blank">clickando aqui</a>.
            </p>
        </div>
        <div class="border-l-4 border-red-600 my-8">
            <p class="ml-4 text-1xl font-bold">🐋 Ambiente</p>
        </div>
        <div>
            <p>
                O ambiente foi construído usando docker. Onde temos um <span class="p-px bg-gray-100 text-gray-800 rounded-md font-mono">docker-compose.yaml</span>, que contém a api quarkus com um banco de dados SqlServer, segue um trecho do arquivo e como rodar localmente: 
            </p>
            <div class="w-full mx-auto mt-4 flex">
                <div class="bg-gray-800 text-white p-4 rounded-md flex-1 mr-4">
                    <div class="flex justify-between items-center mb-2">
                        <span class="text-gray-400">Code:</span>
                    </div>
                    <div class="overflow-x-auto">
                        <pre class="text-gray-300">
                            <code>
$ cat docker-compose.yaml
services:
app-java:
    build:
    context: .
    dockerfile: src/main/docker/Dockerfile.dev
    ...
$ docker-compose up
                            </code>
                        </pre>
                    </div>
                </div>
                <div class="flex-1">
                    <img src="/docker-compose.gif">
                </div>
            </div>
        </div>
        <!-- AUTENTICACAO -->
        <div class="border-l-4 border-red-600 my-8">
            <p class="ml-4 text-1xl font-bold">🔒 Autenticação</p>
        </div>
        <div>
            A Autenticação foi implementada usando <b>JWT + RBAC</b>(Role Based Access Control). As principais ROLES são User para usuário comum e Admin para administradores. O JWT gerado contém as duas ROLES. 
        </div>
        <div class="mt-4">
            <div>
                <div class="bg-gray-800 flex items-center rounded-md">
                    <div class="font-bold text-orange-400 mx-2 method">POST</div>
                    <div class="flex-1 url">http://localhost:8080/v1/auth</div>
                    <button class="bg-blue-800 font-bold p-4 rounded-md" id="btnLogin">Enviar</button>
                </div>
            </div>
            <div class="bg-gray-800 mt-4 font-mono p-4">
                <div class="flex justify-between items-center mb-2">
                    <span class="text-gray-400">Body:</span>
                </div>
                <pre class="payload">
    {
        "cpf": "12345678912",
        "password": "12345678"
    }
                </pre>
            </div>
            <div class="bg-gray-800 mt-4 font-mono p-4">
                <div class="flex justify-between items-center mb-2">
                    <span class="text-gray-400">Resposta:</span>
                    <span class="text-green-400 hidden sucesso">Sucesso</span>
                    <span class="text-red-400 hidden falha">Falha</span>
                </div>
                <pre class="response-text text-wrap">
    Click em "enviar" para obter a resposta
                </pre>
            </div>
        </div>
        <div class="mt-4">
            <p>Uma autenticado o JWT gerado deve ser no header <b>Authorization</b>.</p>
        </div>

        <!-- SIMULAR -->
        <div class="border-l-4 border-red-600 my-8">
            <p class="ml-4 text-1xl font-bold">📊 Listagem de simulações</p>
        </div>
        <div>
            Com esse endpoints o cliente poderá retornar todos as simulações feitas.
        </div>
        <div class="mt-4">
            <div>
                <div class="bg-gray-800 flex items-center rounded-md">
                    <div class="font-bold text-orange-400 mx-2 method">POST</div>
                    <div class="flex-1 url">http://localhost:8080/simular-investimento</div>
                    <button class="bg-blue-800 font-bold p-4 rounded-md" id="btnCriarSimulacao">Enviar</button>
                </div>
            </div>
            <div class="bg-gray-800 mt-4 font-mono p-4"> <!-- HEADERS-->
                <div class="flex justify-between items-center mb-2">
                    <span class="text-gray-400">Headers:</span>
                </div>
                <pre>
{
    "Authorization": Bearer eyJ0eXAiOiJKV1QiLCJhbGci...,
}
                </pre>
            </div>
            <div class="bg-gray-800 mt-4 font-mono p-4"> <!-- BODY-->
                <div class="flex justify-between items-center mb-2">
                    <span class="text-gray-400">Body:</span>
                </div>

                    <textarea class="payload bg-gray-800 w-full h-64">
{
    "clienteId": 1,
    "valor": 10000,
    "prazoMeses": 12,
    "tipoProduto": "CDB"
}</textarea>
            </div>
            <div class="bg-gray-800 mt-4 font-mono p-4"> <!-- RESPONSE-->
                <div class="flex justify-between items-center mb-2">
                    <span class="text-gray-400">Resposta:</span>
                    <span class="text-green-400 hidden sucesso">Sucesso</span>
                    <span class="text-red-400 hidden falha">Falha</span>
                </div>
                <pre class="response-text text-wrap">
    Click em "enviar" para obter a resposta, mude os valores para ver novas simulações
                </pre>
            </div>
            <div class="pos-simulacar mt-8 flex">
                <div class="flex-1">
                    <p class="mb-4">
                        A API selecionará o melhor investimento baseado no tipo fornecido pelo o usuário. Além de trazer o valor final do investimento, a API também calculará a progressão do valor investido a cada novo mês. Focando na <b>usabilidade</b> para o cliente final, onde tornará o processo mais <b>transparente</b>. Tornando possível criar gráficos como esse:
                    </p>
                    <p class="mt-4">
                        <b>Sinta-se livre para criar novas simulações mudando o payload enviado.</b>
                    </p>
                </div>
                <div class="mx-auto flex-1">
                    <canvas id="progressaoSimulacao" width="600"></canvas>
                </div>
            </div>
        </div> <!-- FIM CONTEUDO -->

        <!-- LISTAGEM DE SIMULACOES -->
        <div class="border-l-4 border-red-600 my-8">
            <p class="ml-4 text-1xl font-bold">✅ Listagem de simulações</p>
        </div>
        <div>
            O cliente poderá chamar a API de listagem de simulações para visualizar todas as simulações geradas. Lembrando que o endpoint é pagina, podendo passar qual pagina está e a quantidade de simulações que devem ser retornadas por página. Se a API retornar vazio, significa que não tem novos dados. 
        </div>
        <div class="mt-4">
            <div>
                <div class="bg-gray-800 flex items-center rounded-md">
                    <div class="font-bold text-green-400 mx-2 method">GET</div>
                    <div class="flex-1 url" id="urlListaSimulacao">http://localhost:8080/simulacoes?pagina=0&quantidade=10</div>
                    <button class="bg-blue-800 font-bold p-4 rounded-md" id="btnListarSimulacao">Enviar</button>
                </div>
            </div>
            <div class="bg-gray-800 mt-4 font-mono p-4"> <!-- QUERY PARAMS-->
                <div class="flex justify-between items-center mb-2">
                    <span class="text-gray-400">Query Params:</span>
                </div>
                <div class="flex">
                    <p class="mr-4">Pagina</p>
                    <div class="flex flex-row mb-2">
                        <button id="btnRemovePaginaListagemSimulacao">➖</button>
                        <p class="mx-2" id="query-pagina">0</p>
                        <button id="btnAddPaginaListagemSimulacao">➕</button>
                    </div>
                </div>
                <div class="flex">
                    <p class="mr-4">Quantidade</p>
                    <p class="mr-4">10</p>
                </div>
            </div>
            <div class="bg-gray-800 mt-4 font-mono p-4"> <!-- HEADERS-->
                <div class="flex justify-between items-center mb-2">
                    <span class="text-gray-400">Headers:</span>
                </div>
                <pre>
{
    "Authorization": Bearer eyJ0eXAiOiJKV1QiLCJhbGci...,
}
                </pre>
            </div>
            <div class="bg-gray-800 mt-4 font-mono p-4"> <!-- RESPONSE-->
                <div class="flex justify-between items-center mb-2">
                    <span class="text-gray-400">Resposta:</span>
                    <span class="text-green-400 hidden sucesso">Sucesso</span>
                    <span class="text-red-400 hidden falha">Falha</span>
                </div>
                <pre class="response-text text-wrap">
    Click em "enviar" para obter a resposta
                </pre>
            </div>
        </div> <!-- FIM CONTEUDO -->


        <!-- LISTAGEM DE SIMULACOES POR DIA -->
        <div class="border-l-4 border-red-600 my-8">
            <p class="ml-4 text-1xl font-bold">🗓️ Listagem de simulações por dia</p>
        </div>
        <div>
            A API agrupa as simulações feitas por dia usando <b>JPQL</b>(Java Persistance Query Language), com o intuito de otimizar as consultas, já trazendo os dados tratados do banco.
        </div>
        <div class="mt-4">
            <div>
                <div class="bg-gray-800 flex items-center rounded-md">
                    <div class="font-bold text-green-400 mx-2 method">GET</div>
                    <div class="flex-1 url">http://localhost:8080/simulacoes/por-produto-dia</div>
                    <button class="bg-blue-800 font-bold p-4 rounded-md" id="btnListarSimulacaoPorDia">Enviar</button>
                </div>
            </div>
            <div class="bg-gray-800 mt-4 font-mono p-4"> <!-- HEADERS-->
                <div class="flex justify-between items-center mb-2">
                    <span class="text-gray-400">Headers:</span>
                </div>
                <pre>
{
    "Authorization": Bearer eyJ0eXAiOiJKV1QiLCJhbGci...,
}
                </pre>
            </div>
            <div class="bg-gray-800 mt-4 font-mono p-4"> <!-- RESPONSE-->
                <div class="flex justify-between items-center mb-2">
                    <span class="text-gray-400">Resposta:</span>
                    <span class="text-green-400 hidden sucesso">Sucesso</span>
                    <span class="text-red-400 hidden falha">Falha</span>
                </div>
                <pre class="response-text text-wrap">
    Click em "enviar" para obter a resposta
                </pre>
            </div>
        </div> <!-- FIM CONTEUDO -->

        <!-- LISTAGEM DE TELEMETRIA -->
        <div class="border-l-4 border-red-600 my-8">
            <p class="ml-4 text-1xl font-bold">🔭 Listagem de telemtria</p>
        </div>
        <div>
            Foi criado um filter que intercepta todas as requisições para criar dados sobre telemtria da API.
        </div>
        <div class="mt-4">
            <div>
                <div class="bg-gray-800 flex items-center rounded-md">
                    <div class="font-bold text-green-400 mx-2 method">GET</div>
                    <div class="flex-1 url">http://localhost:8080/telemetria</div>
                    <button class="bg-blue-800 font-bold p-4 rounded-md" id="btnTelemetria">Enviar</button>
                </div>
            </div>
            <div class="bg-gray-800 mt-4 font-mono p-4"> <!-- HEADERS-->
                <div class="flex justify-between items-center mb-2">
                    <span class="text-gray-400">Headers:</span>
                </div>
                <pre>
{
    "Authorization": Bearer eyJ0eXAiOiJKV1QiLCJhbGci...,
}
                </pre>
            </div>
            <div class="bg-gray-800 mt-4 font-mono p-4"> <!-- RESPONSE-->
                <div class="flex justify-between items-center mb-2">
                    <span class="text-gray-400">Resposta:</span>
                    <span class="text-green-400 hidden sucesso">Sucesso</span>
                    <span class="text-red-400 hidden falha">Falha</span>
                </div>
                <pre class="response-text text-wrap">
    Click em "enviar" para obter a resposta
                </pre>
            </div>
        </div> <!-- FIM CONTEUDO -->

        <!-- GET DO PRODUTO RECOMENDADO -->
        <div class="border-l-4 border-red-600 my-8">
            <p class="ml-4 text-1xl font-bold">🤖 Produto Recomendado</p>
        </div>
        <div>
            A API espera receber um tipo de perfil: <b>Conservador, Moderado ou Agressivo</b>. A API <b>cruza</b> o perfil do cliente para fazer uma recomendação de investimento mais acetiva. Ou seja, se o cliente tem um perfil já calculado como conservador e solicitar uma recomendação de investimento para um perfil moderado, os produtos retornado são tantos de risco baixo pois seu perfil é conservador, como produtos de risco médio, pois o cliente está solicitando um perfil diferente do seu.
        </div>
        <div class="mt-4">
            <div>
                <div class="bg-gray-800 flex items-center rounded-md">
                    <div class="font-bold text-green-400 mx-2 method">GET</div>
                    <div class="flex-1 url" id="riscoPathUrl">http://localhost:8080/produtos-recomendados/conservador</div>
                    <button class="bg-blue-800 font-bold p-4 rounded-md" id="btnRecomendacao">Enviar</button>
                </div>
            </div>
            <div class="bg-gray-800 mt-4 font-mono p-4"> <!-- Path Param-->
                <div class="flex justify-between items-center mb-2">
                    <span class="text-gray-400">Path Param:</span>
                </div>
                <div class="flex">
                    <p class="mr-4">
                        Risco:
                    </p>
                    <select class="text-gray-900 px-4" id="riscoPathRecomendacao">
                        <option value="conservador" selected>Conservador</option>
                        <option value="moderado">Moderado</option>
                        <option value="agressivo">Agressivo</option>
                    </select>
                </div>
            </div>
            <div class="bg-gray-800 mt-4 font-mono p-4"> <!-- HEADERS-->
                <div class="flex justify-between items-center mb-2">
                    <span class="text-gray-400">Headers:</span>
                </div>
                <pre>
{
    "Authorization": Bearer eyJ0eXAiOiJKV1QiLCJhbGci...,
}
                </pre>
            </div>
            <div class="bg-gray-800 mt-4 font-mono p-4"> <!-- RESPONSE-->
                <div class="flex justify-between items-center mb-2">
                    <span class="text-gray-400">Resposta:</span>
                    <span class="text-green-400 hidden sucesso">Sucesso</span>
                    <span class="text-red-400 hidden falha">Falha</span>
                </div>
                <pre class="response-text text-wrap">
    Click em "enviar" para obter a resposta
                </pre>
            </div>
        </div> <!-- FIM CONTEUDO -->


         <!-- GET DO PERFIL DO CLIENTE -->
        <div class="border-l-4 border-red-600 my-8">
            <p class="ml-4 text-1xl font-bold">👤 Perfil do cliente</p>
        </div>
        <div>
            A API analisa o histórico da simulações para determinar o perfil de um cliente.
        </div>
        <div class="mt-4">
            <div>
                <div class="bg-gray-800 flex items-center rounded-md">
                    <div class="font-bold text-green-400 mx-2 method">GET</div>
                    <div class="flex-1 url" id="perfilPathUrl">http://localhost:8080/perfil-risco/1</div>
                    <button class="bg-blue-800 font-bold p-4 rounded-md" id="btnPerfil">Enviar</button>
                </div>
            </div>
            <div class="bg-gray-800 mt-4 font-mono p-4"> <!-- Path Param-->
                <div class="flex justify-between items-center mb-2">
                    <span class="text-gray-400">Path Param:</span>
                </div>
                <div class="flex">
                    <p class="mr-4">
                        ClienteId:
                    </p>
                    <input value="1" class="text-gray-800" id="clientIdPathPerfil" />
                </div>
            </div>
            <div class="bg-gray-800 mt-4 font-mono p-4"> <!-- HEADERS-->
                <div class="flex justify-between items-center mb-2">
                    <span class="text-gray-400">Headers:</span>
                </div>
                <pre>
{
    "Authorization": Bearer eyJ0eXAiOiJKV1QiLCJhbGci...,
}
                </pre>
            </div>
            <div class="bg-gray-800 mt-4 font-mono p-4"> <!-- RESPONSE-->
                <div class="flex justify-between items-center mb-2">
                    <span class="text-gray-400">Resposta:</span>
                    <span class="text-green-400 hidden sucesso">Sucesso</span>
                    <span class="text-red-400 hidden falha">Falha</span>
                </div>
                <pre class="response-text text-wrap">
    Click em "enviar" para obter a resposta
                </pre>
            </div>
        </div> <!-- FIM CONTEUDO -->


    </div> <!-- FIM -->
</body>
<script>
    document.addEventListener("DOMContentLoaded", function (params) {
        let jwt
        let paginaListagemSimulacao = 0
        const btnLogin = document.getElementById("btnLogin")
        const btnCriarSimulacao = document.getElementById("btnCriarSimulacao")
        const btnListarSimulacaoPorDia = document.getElementById("btnListarSimulacaoPorDia")
        const btnTelemetria = document.getElementById("btnTelemetria")
        const btnListarSimulacao = document.getElementById("btnListarSimulacao")
        const queryPaginaListaSimulacao = document.getElementById("query-pagina")
        const btnRemovePaginaListagemSimulacao = document.getElementById("btnRemovePaginaListagemSimulacao")
        const btnAddPaginaListagemSimulacao = document.getElementById("btnAddPaginaListagemSimulacao")
        const riscoPathRecomendacao = document.getElementById("riscoPathRecomendacao")
        const btnRecomendacao = document.getElementById("btnRecomendacao")
        const btnPerfil = document.getElementById("btnPerfil")
        const perfilPathUrl = document.getElementById("perfilPathUrl")
        const clientIdPathPerfil = document.getElementById("clientIdPathPerfil")

        btnLogin.addEventListener("click", function (e) {
            enviarRequest(e)
        })

        btnCriarSimulacao.addEventListener("click", function (e) {
            enviarRequest(e, undefined, posSucessoSimulacao, formatarPayloadCriacao)
        })

        btnListarSimulacao.addEventListener("click", function (e) {
            enviarRequest(e)
        })

        btnTelemetria.addEventListener("click", function (e) {
            enviarRequest(e)
        })

        btnRecomendacao.addEventListener("click", function (e) {
            enviarRequest(e)
        })

        btnListarSimulacaoPorDia.addEventListener("click", function (e) {
            enviarRequest(e)
        })

        btnPerfil.addEventListener("click", function (e) {
            enviarRequest(e)
        })

        btnRemovePaginaListagemSimulacao.addEventListener("click", function (e) {
            mudaPagina(-1)
        })

        btnAddPaginaListagemSimulacao.addEventListener("click", function (e) {
            mudaPagina(1)
        })

        riscoPathRecomendacao.addEventListener("change", function (e) {
            document.getElementById("riscoPathUrl").textContent = "http://localhost:8080/produtos-recomendados/" + e.target.value
        })

        clientIdPathPerfil.addEventListener("keyup", function (e) {
            document.getElementById("perfilPathUrl").textContent = "http://localhost:8080/perfil-risco/" + e.target.value
        })

        function enviarRequest(
            e,
            formatResponse = undefined,
            posSucesso = undefined,
            formatPayload = undefined
        ) {
            const target = e.target
            
            const parent = target.parentElement
            const url = parent.parentElement
                .getElementsByClassName("url")[0]
                .textContent
            const payload = parent.parentElement
                .parentElement
                .getElementsByClassName("payload")
            const method = parent.parentElement
                .getElementsByClassName("method")[0]
                .textContent
            const response = parent.parentElement
                .parentElement
                .getElementsByClassName("response-text")[0]
            
            const headers = {}
            if (jwt != undefined) {
                headers["Authorization"] = "Bearer " + jwt
            }

            let data = payload.length != 0 ? JSON.parse(payload[0].textContent) : undefined
            if (formatPayload != undefined) {
                data = formatPayload(payload)
            } 
            
            axios.request({
                method: method,
                url: url,
                data: data,
                headers: headers
            }).then((resp) => {
                if (url.includes("v1/auth")) {
                    jwt = resp.data.jwt
                }

                response.textContent = JSON.stringify(resp.data, undefined, 2)
                parent.parentElement
                    .parentElement
                    .getElementsByClassName("sucesso")[0]
                    .classList.toggle("hiden")

                if (posSucesso != undefined) {
                    posSucesso(resp.data)
                }

            }).catch((err) => {
                const resp = err.response
                if (resp) {
                    response.textContent = JSON.stringify(resp.data, undefined, 2)
                }
            })
        }

        function posSucessoSimulacao(data) {
            const ctx = document.getElementById('progressaoSimulacao');
            
            // Destroy existing chart instance if it exists
            if (ctx.chart) {
            ctx.chart.destroy();
            }

            // Create a new chart instance and store it in the canvas element
            ctx.chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: data.resultadoSimulacao.progressao.map((_, i) => i + 1 + " mês"),
                datasets: [{
                label: '# Meses',
                data: data.resultadoSimulacao.progressao,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                y: {
                    beginAtZero: true
                }
                }
            }
            });
        }

        function mudaPagina(valor) {
            let novoValor = paginaListagemSimulacao + valor
            queryPaginaListaSimulacao.textContent = novoValor
            paginaListagemSimulacao = novoValor

            urlListaSimulacao.textContent = "http://localhost:8080/simulacoes?pagina=" + paginaListagemSimulacao + "&quantidade=10"
        }

        function formatarPayloadCriacao(payload) {
            return JSON.parse(payload[0].value)
        }
    })
</script>
</html>
